.jumbotron {
	background-color: #6DE900;
	border: 2px solid #030303;
}

.navbar-default {
	.container-fluid {
		background-color: #6DE900;
		.navbar-nav > li > a {
		color: #030303;
		font-size: 16px;
		font-weight: bold;
		}
		.navbar-brand {
			color: black;
			font-size: 30px;
			font-weight: bold;
			font-family: 'Hobo Std';
			text-shadow: 2px 0 0 #fff, -2px 00 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px  -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
		}
	}
}

.container-fluid {
	padding: 10px 120px;
}